html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}
.checkboxRemoveHover-bg:hover{
  background: none !important;
}

.fc .fc-event-main .fc-event-title {
  padding: 0.3rem;
  display: block;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
  font-size: 0.7rem;
  background: transparent;
  border-color: transparent;
  background-color: #c27413;
}

.css-1nhqsen .fc .fc-daygrid-event-harness .fc-event{
  background-color: #c27413;
  cursor: pointer;
  border-color: #c27413;
}
